body {
    /* height: 100vh;
    background-color: black;
    background-image: url(../public/images/logoMuseu.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%; */
    margin: 0;
    font-family: var(--bs-font-monospace);
} 

.container{
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

.nav-item{
    border-left: 0.5px solid;
    border-color: white;

}

.bi-instagram{
    font-size: 30px;
    color: white;

}

.bi-envelope{
    font-size: 35px;
    color: white;

}

.nav{
    font-size: 20px;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: yellow;
    --bs-nav-link-padding-x: 2rem;
    --bs-nav-link-padding-y: 1.5rem;
    align-items: center;
}

.header{
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007cc2;
    min-height: 150px;
    padding-left: 5vw;
    padding-right: 10vw;
    box-shadow: 0 16px 26px 8px #222222;
    
}

.head-itens{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.head-icons{

    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-item > img{
   max-height: 700px;
}

.text-img{
    width: 500px;
    height: 300px;
    background-color: #007cc28c;
    position: absolute;
    z-index: 999;
    top: 200px;
    right: 0;
    border-radius: 20px 0 0 20px;
    padding: 30px;
}

.text-img{
    opacity: 1 !important;
    color: white;
    padding-right: 160px;
    text-align: justify;
    
}

.shadow-divisor{
    box-shadow: 0 8px 30px 8px #222222;
}
.projects{
   text-align: justify;
    padding-top: 100px;
    height: fit-content;
}

.projects h2{
    text-align: center;
    padding-bottom: 30px;
}

#dir-text{
    margin: 20px 0 40px 0;
    text-align: end;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white !important;
    text-decoration: none !important ;
    background-color: #007cc2;
    height: fit-content;
    padding-left: 5vw;
    padding-right: 10vw;
    bottom: 0;
}

.footer iframe{
    padding: 30px;
}

.text-info-footer > a{
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

a:hover {
    color: yellow;
  }

.row {
--bs-gutter-x: 0rem;
justify-content: center;
}